@import "components/barra-tareas.css";
@import "components/header.css";
@import "components/hojas.css";
@import "components/hoja.css";
@import "components/textos.css";

/* COLORES */
:root{
  --color-primario: #ffffff;
  --color-secundario: #424552;
  --color-terciario: #f3f4f6;
  --color-cuaternario: #000000;
  --color-quinario: #ffd43a;
}
/* FIN COLORES */

/* GENERAL */
body {
    margin: 0px;
    background-color: #F7F8FB;
}

h1 {
    margin: 0;
  }

  * {
    font-family: "Lato", sans-serif;
  }

/* Ocultar Barra Desplazamiento */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}
/* Fin Ocultar Barra Desplazamiento */

/* FIN GENERAL */